@font-face {
  font-family: "MyriadPro-Bold";
  src: url(../fonts/MyriadPro-Bold.otf); }
@font-face {
  font-family: "MyriadPro-BoldIt";
  src: url(../fonts/MyriadPro-BoldIt.otf); }
@font-face {
  font-family: "MyriadPro-It";
  src: url(../fonts/MyriadPro-It.otf); }
@font-face {
  font-family: "MyriadPro-Regular";
  src: url(../fonts/MyriadPro-Regular.otf); }
@font-face {
  font-family: "MyriadPro-Semibold";
  src: url(../fonts/MyriadPro-Semibold.otf); }
@font-face {
  font-family: "MyriadPro-light";
  src: url(../fonts/MyriadPro-Light.otf); }
@font-face {
  font-family: "MyriadPro-lightIt";
  src: url(../fonts/MyriadPro-LightIt.otf); }
@font-face {
  font-family: "29LTZaridSansAL-Regular";
  src: url(../fonts/29LTZaridSansAL-Regular.otf); }
@font-face {
  font-family: "29LTZaridSansAL-Bold";
  src: url(../fonts/29LTZaridSansAL-Bold.otf); }
/* fonts vars */
/*colors vars */
body {
  font-family: "MyriadPro-Regular";
  color: #3d4543;
  background-color: #fefdf5; }

/*global classes */
.more-work {
  font-size: 45px; }
  @media (max-width: 767px) {
    .more-work {
      font-size: 24px; } }
  .more-work a {
    text-decoration: none;
    color: #3d4543;
    font-family: "MyriadPro-BoldIt"; }

.awraq {
  margin-bottom: 32px; }
  .awraq img {
    margin-bottom: 12px; }
  .awraq h3 {
    font-size: 20px;
    font-family: "MyriadPro-Bold";
    margin-bottom: 0px; }
    @media (max-width: 767px) {
      .awraq h3 {
        font-size: 16px; } }
  .awraq p {
    font-family: "MyriadPro-Regular";
    font-size: 18px;
    line-height: 26px; }
    @media (max-width: 767px) {
      .awraq p {
        font-size: 14px; } }

.bold_arabic {
  font-family: "29LTZaridSansAL-Bold" !important; }

.regular_arabic {
  font-family: "29LTZaridSansAL-Regular" !important; }

/*navbar */
.navbar {
  background-color: #fefdf5;
  padding: 1.5rem 0; }
  @media (max-width: 991px) {
    .navbar {
      padding: 0.5rem 0; }
      .navbar .container {
        align-items: center !important;
        padding: 0 15px; } }
  @media (min-width: 991px) {
    .navbar .container {
      flex-direction: row-reverse; } }
  .navbar .navbar-nav .nav-link {
    font-family: "MyriadPro-Semibold";
    font-size: 18px;
    transition: 0.3s;
    padding: 0.5rem 1rem;
    color: #3d4543 !important;
    transition: 0.3s; }
    .navbar .navbar-nav .nav-link:hover {
      color: #d5d10e !important; }
  .navbar .navbar-nav .nav-item.active .nav-link {
    color: #d5d10e !important; }
  .navbar .navbar-toggler {
    outline: none !important; }

.header {
  padding: 50px 0;
  color: #3d4543; }
  .header h1 {
    font-size: 64px;
    width: 90%;
    font-family: "MyriadPro-Regular";
    margin-bottom: 64px;
    line-height: 74px; }
    @media (max-width: 991px) {
      .header h1 {
        font-size: 36px;
        line-height: 46px;
        width: 100%; } }
    @media (max-width: 575px) {
      .header h1 {
        font-size: 28px;
        line-height: 38px; } }
    @media (max-width: 425px) {
      .header h1 {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 36px; } }
    @media (max-width: 375px) {
      .header h1 {
        font-size: 20px;
        line-height: 30px; } }
    .header h1 span {
      font-family: "MyriadPro-Bold"; }
  @media (min-width: 350px) and (max-width: 575px) {
    .header .awraq-holder {
      width: 50%; } }
  .header .header-content h5 {
    font-family: "MyriadPro-Regular";
    margin-bottom: 24px; }
    @media (max-width: 425px) {
      .header .header-content h5 {
        font-size: 16px;
        margin-bottom: 36px; } }
    .header .header-content h5 span {
      font-family: "MyriadPro-Bold"; }

.never-stop {
  background-color: #3c4543;
  padding: 50px 0; }
  .never-stop h2 {
    color: #d5d10e;
    font-family: "MyriadPro-It";
    font-size: 64px;
    margin-bottom: 28px; }
    @media (max-width: 991px) {
      .never-stop h2 {
        font-size: 36px; } }
    @media (max-width: 575px) {
      .never-stop h2 {
        font-size: 28px; } }
    @media (max-width: 425px) {
      .never-stop h2 {
        font-size: 24px; } }
    @media (max-width: 375px) {
      .never-stop h2 {
        font-size: 20px; } }
    .never-stop h2 span {
      font-family: "MyriadPro-Bold"; }
  @media (min-width: 350px) and (max-width: 575px) {
    .never-stop .col-sm-6 {
      width: 50%; } }
  .never-stop .awraq p {
    color: #d5d10e;
    font-size: 18px; }
    @media (max-width: 767px) {
      .never-stop .awraq p {
        font-size: 16px; } }
    @media (max-width: 575px) {
      .never-stop .awraq p {
        font-size: 14px; } }
  .never-stop .more-work {
    color: #d5d10e; }
    .never-stop .more-work a {
      color: #d5d10e; }

/*complicated*/
.complicated {
  padding: 64px 0 0 0; }
  .complicated h2 {
    font-size: 64px;
    font-family: "MyriadPro-Bold";
    margin-bottom: 36px; }
    @media (max-width: 991px) {
      .complicated h2 {
        font-size: 36px; } }
    @media (max-width: 575px) {
      .complicated h2 {
        font-size: 28px; } }
    @media (max-width: 425px) {
      .complicated h2 {
        font-size: 24px; } }
    @media (max-width: 375px) {
      .complicated h2 {
        font-size: 20px; } }
  .complicated h5 {
    margin-bottom: 24px;
    font-size: 18px; }
    .complicated h5 span {
      font-family: "MyriadPro-Bold"; }
  .complicated .content {
    font-size: 22px; }
    @media (max-width: 767px) {
      .complicated .content {
        margin-bottom: 24px;
        font-size: 16px; } }
    .complicated .content span {
      font-family: "MyriadPro-Bold"; }
  .complicated .content-lg {
    font-size: 64px;
    line-height: 74px;
    margin: 64px 0 228px 0; }
    @media (max-width: 991px) {
      .complicated .content-lg {
        font-size: 36px;
        line-height: 46px;
        margin: 64px 0 124px 0; } }
    @media (max-width: 767px) {
      .complicated .content-lg {
        margin-top: 16px;
        margin-bottom: 124px; } }
    @media (max-width: 575px) {
      .complicated .content-lg {
        font-size: 28px;
        line-height: 38px; } }
    @media (max-width: 425px) {
      .complicated .content-lg {
        font-size: 24px;
        line-height: 34px; } }
    @media (max-width: 375px) {
      .complicated .content-lg {
        font-size: 20px;
        line-height: 30px; } }
    .complicated .content-lg span {
      font-family: "MyriadPro-Bold"; }
  .complicated .lets-chat {
    background-color: #ddd200;
    padding: 64px 36px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
    width: calc(100% - 30px);
    left: 15px;
    z-index: 88; }
    @media (max-width: 991px) {
      .complicated .lets-chat {
        padding: 24px; } }
    .complicated .lets-chat .chat-content {
      font-size: 24px; }
      @media (min-width: 992px) {
        .complicated .lets-chat .chat-content {
          font-size: 28px;
          width: 75%; } }
      @media (max-width: 991px) {
        .complicated .lets-chat .chat-content {
          font-size: 18px;
          margin-bottom: 16px; } }
      @media (max-width: 767px) {
        .complicated .lets-chat .chat-content {
          font-size: 16px; } }
    .complicated .lets-chat .chat-link {
      font-size: 70px;
      font-family: "MyriadPro-BoldIt";
      text-align: center; }
      @media (max-width: 991px) {
        .complicated .lets-chat .chat-link {
          font-size: 28px;
          text-align: start; } }
      .complicated .lets-chat .chat-link a {
        text-decoration: none;
        font-family: "MyriadPro-It";
        color: #3d4543; }

footer {
  background-color: #3c4543;
  padding: 228px 0 50px;
  color: #d5d10e; }
  @media (max-width: 991px) {
    footer {
      padding-top: 124px; } }
  footer h5 {
    font-family: "MyriadPro-Semibold";
    margin-bottom: 16px;
    font-size: 20px; }
    @media (max-width: 575px) {
      footer h5 {
        font-size: 14px; } }
  footer .footer-links {
    margin-bottom: 36px; }
    footer .footer-links a {
      display: block;
      color: #d5d10e;
      margin-bottom: 8px;
      text-transform: uppercase; }
    footer .footer-links a.arabic-link {
      font-family: "29LTZaridSansAL-Regular"; }
  footer .footer-links.last {
    margin-bottom: 0; }
    @media (max-width: 991px) {
      footer .footer-links.last {
        margin-bottom: 24px; } }
  footer form {
    width: fit-content; }
    @media (max-width: 575px) {
      footer form {
        margin-bottom: 24px; } }
    footer form input {
      background-color: #4c5553;
      border: none;
      padding: 8px;
      outline: none;
      color: #d5d10e; }
      footer form input::placeholder {
        color: #d5d10e; }
  footer .copyrights {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end; }
    footer .copyrights img {
      margin-bottom: 12px; }
    footer .copyrights h6 {
      margin-bottom: 16px;
      font-size: 20px; }
      @media (max-width: 575px) {
        footer .copyrights h6 {
          font-size: 14px; } }
  @media (min-width: 320px) and (max-width: 575px) {
    footer .col-sm-4 {
      width: 50%; } }
  @media (max-width: 575px) {
    footer .justify-content-end {
      justify-content: flex-start !important; } }

/*about us page */
.about_header strong {
  font-size: 20px; }
.about_header h1 {
  margin-bottom: 36px; }

.what-we-do h2 {
  font-size: 64px;
  font-family: "MyriadPro-light";
  margin-bottom: 32px; }
  @media (max-width: 991px) {
    .what-we-do h2 {
      font-size: 36px;
      width: 100%; } }
  @media (max-width: 575px) {
    .what-we-do h2 {
      font-size: 28px; } }
  @media (max-width: 425px) {
    .what-we-do h2 {
      font-size: 24px;
      margin-bottom: 36px; } }
  @media (max-width: 375px) {
    .what-we-do h2 {
      font-size: 20px; } }
.what-we-do p {
  font-size: 32px;
  margin-bottom: 32px; }
  @media (max-width: 991px) {
    .what-we-do p {
      font-size: 24px;
      width: 100%; } }
  @media (max-width: 575px) {
    .what-we-do p {
      font-size: 20px; } }
  @media (max-width: 425px) {
    .what-we-do p {
      font-size: 18px; } }
  @media (max-width: 375px) {
    .what-we-do p {
      font-size: 16px; } }

/*founder_quote*/
.founder_quote {
  padding: 64px 0; }
  @media (max-width: 991px) {
    .founder_quote .awraq img {
      margin-bottom: 24px !important; } }
  .founder_quote .awraq p {
    color: #fff;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 32px; }
    @media (max-width: 991px) {
      .founder_quote .awraq p {
        font-size: 24px; } }
    @media (max-width: 767px) {
      .founder_quote .awraq p {
        font-size: 18px; } }
    @media (max-width: 575px) {
      .founder_quote .awraq p {
        font-size: 16px; } }
    @media (max-width: 425px) {
      .founder_quote .awraq p {
        font-size: 14px; } }
    .founder_quote .awraq p .bold {
      font-family: "MyriadPro-Bold"; }
    .founder_quote .awraq p .bold_italic {
      font-family: "MyriadPro-BoldIt"; }
  .founder_quote .awraq .quote_sign {
    color: #fff; }
    .founder_quote .awraq .quote_sign h4 {
      font-family: "MyriadPro-BoldIt";
      font-size: 28px; }
      @media (max-width: 991px) {
        .founder_quote .awraq .quote_sign h4 {
          font-size: 24px; } }
      @media (max-width: 767px) {
        .founder_quote .awraq .quote_sign h4 {
          font-size: 18px; } }
      @media (max-width: 575px) {
        .founder_quote .awraq .quote_sign h4 {
          font-size: 16px; } }
      @media (max-width: 425px) {
        .founder_quote .awraq .quote_sign h4 {
          font-size: 14px; } }
    .founder_quote .awraq .quote_sign span {
      font-size: 28px;
      font-family: "MyriadPro-Regular"; }
      @media (max-width: 991px) {
        .founder_quote .awraq .quote_sign span {
          font-size: 24px; } }
      @media (max-width: 767px) {
        .founder_quote .awraq .quote_sign span {
          font-size: 18px; } }
      @media (max-width: 575px) {
        .founder_quote .awraq .quote_sign span {
          font-size: 16px; } }
      @media (max-width: 425px) {
        .founder_quote .awraq .quote_sign span {
          font-size: 14px; } }

/*core_value*/
.core_value {
  padding: 50px 0; }
  @media (max-width: 991px) {
    .core_value {
      padding-bottom: 0; } }
  .core_value h2 {
    font-size: 64px;
    font-family: "MyriadPro-light";
    margin-bottom: 32px; }
    @media (max-width: 991px) {
      .core_value h2 {
        font-size: 36px; } }
    @media (max-width: 575px) {
      .core_value h2 {
        font-size: 28px; } }
    @media (max-width: 425px) {
      .core_value h2 {
        font-size: 24px; } }
    @media (max-width: 375px) {
      .core_value h2 {
        font-size: 20px; } }
  .core_value h4 {
    color: #d5d10e;
    font-family: "MyriadPro-Bold";
    margin-bottom: 20px;
    font-size: 36px; }
    @media (max-width: 991px) {
      .core_value h4 {
        font-size: 28px; } }
    @media (max-width: 575px) {
      .core_value h4 {
        font-size: 24px; } }
    @media (max-width: 425px) {
      .core_value h4 {
        font-size: 20px; } }
    @media (max-width: 375px) {
      .core_value h4 {
        font-size: 18px; } }
  .core_value p {
    font-size: 28px;
    margin-bottom: 36px;
    line-height: 38px; }
    @media (max-width: 767px) {
      .core_value p {
        font-size: 20px; } }
    @media (max-width: 575px) {
      .core_value p {
        font-size: 16px; } }

/*our_team*/
.our_team {
  padding-top: 0; }
  .our_team h2 {
    font-family: "MyriadPro-light"; }
  .our_team .team_desc {
    font-size: 32px; }
    @media (max-width: 767px) {
      .our_team .team_desc {
        font-size: 20px; } }
    @media (max-width: 575px) {
      .our_team .team_desc {
        font-size: 16px; } }
    .our_team .team_desc span {
      margin-top: 8px;
      margin-bottom: 24px; }
  .our_team .awraq img {
    height: 270px;
    object-fit: cover; }
    @media (max-width: 991px) {
      .our_team .awraq img {
        height: 200px; } }
    @media (max-width: 575px) {
      .our_team .awraq img {
        height: auto; } }

/*contact us */
.lets_talk {
  padding: 64px 0; }
  .lets_talk h2 {
    font-family: "MyriadPro-Bold";
    font-size: 50px;
    margin-bottom: 44px; }
    @media (max-width: 767px) {
      .lets_talk h2 {
        font-size: 36px; } }
    @media (max-width: 245px) {
      .lets_talk h2 {
        font-size: 24px; } }
  @media (max-width: 991px) {
    .lets_talk .contact__form {
      margin-bottom: 24px; } }
  .lets_talk .contact__form label,
  .lets_talk .contact__form input {
    display: block;
    width: 100%; }
  .lets_talk .contact__form label {
    font-size: 36px; }
    @media (max-width: 991px) {
      .lets_talk .contact__form label {
        font-size: 28px; } }
    @media (max-width: 767px) {
      .lets_talk .contact__form label {
        font-size: 18px; } }
  .lets_talk .contact__form input {
    border: none;
    border-bottom: 1px solid #e0d61c;
    outline: none !important;
    box-shadow: none !important;
    font-size: 20px;
    margin-bottom: 36px; }
  .lets_talk .contact__form .budget_input {
    background-color: #e0d61c;
    padding: 8px 8px 4px; }
    .lets_talk .contact__form .budget_input::placeholder {
      font-size: 24px;
      font-family: "MyriadPro-Bold";
      color: #3d4543; }
  .lets_talk .contact__form .submit__button {
    font-family: "MyriadPro-Bold";
    background-color: transparent;
    outline: none;
    font-size: 36px;
    border: none;
    color: #3d4543;
    display: block;
    margin-left: auto; }

.contact__info h4 {
  font-size: 20px;
  font-family: "MyriadPro-Bold";
  margin: 0; }
.contact__info a {
  text-decoration: none;
  color: #3d4543; }
.contact__info p {
  margin-top: 24px;
  margin-bottom: 0; }
  @media (max-width: 991px) {
    .contact__info p {
      margin-top: 12px; } }

.follow__us h4 {
  font-family: "MyriadPro-Regular"; }
.follow__us a {
  display: block;
  text-decoration: none;
  color: #3d4543;
  padding: 8px 0; }

@media (max-width: 991px) {
  .inquries,
  .follow__us,
  .address {
    margin-bottom: 32px; } }

.contact-footer {
  padding: 50px 0; }

/*blog_header*/
.blog_header .awraq img {
  min-height: 400px; }
  @media (max-width: 991px) {
    .blog_header .awraq img {
      min-height: 250px; } }
.blog_header .blog_desc span {
  font-family: "29LTZaridSansAL-Bold"; }
.blog_header .blog_desc p {
  font-family: "29LTZaridSansAL-Regular"; }

.quote_paragraph {
  direction: rtl;
  font-family: "29LTZaridSansAL-Regular";
  font-size: 70px;
  line-height: 80px;
  margin-top: 36px;
  text-align: justify; }
  @media (max-width: 991px) {
    .quote_paragraph {
      font-size: 36px;
      line-height: 46px; } }
  @media (max-width: 767px) {
    .quote_paragraph {
      font-size: 28px;
      line-height: 38px; } }
  @media (max-width: 575px) {
    .quote_paragraph {
      font-size: 20px;
      line-height: 30px; } }
  @media (max-width: 425px) {
    .quote_paragraph {
      font-size: 18px;
      line-height: 28px; } }
  .quote_paragraph span {
    font-family: "29LTZaridSansAL-Bold"; }

.writer {
  font-family: "29LTZaridSansAL-Bold";
  font-size: 22px; }
  @media (max-width: 991px) {
    .writer {
      font-size: 16px; } }

.blog_links_row {
  margin: 64px 0 170px 0 !important; }
  @media (max-width: 991px) {
    .blog_links_row {
      margin: 64px 0 70px 0 !important; } }
  @media (max-width: 767px) {
    .blog_links_row {
      margin-top: 16px !important;
      margin-bottom: 124px !important; } }
  .blog_links_row .awraq img {
    min-height: auto; }
  .blog_links_row .links {
    margin-bottom: 16px; }
    .blog_links_row .links h4 {
      font-family: "29LTZaridSansAL-Bold";
      margin-bottom: 8px; }
    .blog_links_row .links a {
      font-family: "29LTZaridSansAL-Regular";
      color: #3d4543;
      text-decoration: none; }
    .blog_links_row .links h6 {
      font-family: "29LTZaridSansAL-Bold";
      font-size: 20px;
      margin-bottom: 12px; }

form.newsletter input {
  background-color: #f1edad;
  border: none;
  width: 100%;
  padding: 8px; }

/*bg_2*/
.bg_2 {
  text-align: right;
  direction: rtl; }
  .bg_2 .awraq span {
    font-size: 24px; }
    @media (max-width: 991px) {
      .bg_2 .awraq span {
        font-size: 16px; } }
  .bg_2 .header-content {
    margin: 34px 0 170px 0 !important; }
    @media (max-width: 991px) {
      .bg_2 .header-content {
        margin: 34px 0 24px 0 !important; } }
    @media (max-width: 767px) {
      .bg_2 .header-content {
        margin-top: 16px !important;
        margin-bottom: 0px !important; } }
  .bg_2 h1 {
    margin-bottom: 24px; }
  .bg_2 .header_p {
    font-family: "MyriadPro-light"; }
  .bg_2 .name_span {
    font-family: "MyriadPro-Bold"; }
  .bg_2 .blog_paragraphs {
    margin-bottom: 64px; }
    .bg_2 .blog_paragraphs p {
      width: 70%;
      margin-bottom: 16px;
      font-size: 36px;
      margin-bottom: 32px; }
      @media (max-width: 991px) {
        .bg_2 .blog_paragraphs p {
          font-size: 24px;
          width: 100%; } }
      @media (max-width: 767px) {
        .bg_2 .blog_paragraphs p {
          font-size: 16px;
          width: 100%; } }
  .bg_2 .ideas h3 {
    font-size: 45px;
    margin-bottom: 24px; }
    @media (max-width: 991px) {
      .bg_2 .ideas h3 {
        font-size: 32px; } }
    @media (max-width: 767px) {
      .bg_2 .ideas h3 {
        font-size: 20px; } }
  .bg_2 .lets-chat {
    direction: ltr;
    text-align: left; }

/*# sourceMappingURL=style.css.map */
